---
layout: home
partners:
  - title: Terror Free Tomorrow
    url: http://www.terrorfreetomorrow.org/
  - title: Community Appraisal & Motivation Programme
    url: http://www.camp.org.pk/
  - title: U.S. Institute of Peace
    url: http://www.usip.org/
  - title: Open Society Foundations
    url: http://www.soros.org/
  - title: Smith Richardson Foundation
    url: http://www.srf.org/
  - title: Development Seed
    url: http://www.developmentseed.org/
intro: |
  <p class='pull-quote' markdown='1'>In-depth, agency-specific analysis from regional experts with data from 1,000 interviews across 120 villages in all seven tribal agencies and mapping of [142 reported drone strikes in FATA through July 2010]({{site.baseurl}}/about/drones).</p>

  Few places in the world have assumed as much importance for the United States and its allies since 2001 as Pakistan’s northwestern tribal regions, which have served as a base for the mix of militants seeking to attack the governments, militaries and civilians of the United States, Afghanistan, Pakistan and others. Yet our understanding of this region – its politics and history, U.S. involvement there, and the opinions of those who call it home – is painfully limited.

  This project aims to help bridge that knowledge gap, by combining three streams of work from the [New America Foundation’s Counterterrorism Strategy Initiative](http://counterterrorism.newamerica.net): A first-ever poll of sensitive political issues in the Federally Administered Tribal Areas of Pakistan (FATA); New America's on-going monitoring of U.S. drone strikes in Pakistan, and our series of of in-depth analyses on politics and militancy in Pakistan’s tribal areas, written by local Pakistani researchers and other regional experts.
sections:
- group: Q16
  questions: [Q16]
- group: Q11
  questions: [Q11b, Q11c]
- group: Q8
  questions: [Q8b, Q8e, Q8g, Q8h]
- group: Q10
  questions: [Q10a, Q10c]
- group: Q1
  questions: [Q1c, Q1d, Q1f, Q1g]
---
<div class='section'>
  <div class='group clearfix'>
    {% assign section = page.sections[0] %}
    {% include frontgraph.html %}
  </div>
  <div class='prose'>
    <h1>Public Opposition to the U.S. Military and Drone Campaign</h1>
    <p>Nearly nine out of every ten people in FATA oppose the U.S. military's pursuit of al-Qaeda and the Taliban in their region. Nearly 70 percent of FATA residents instead want the Pakistani military alone to fight Taliban and al- Qaeda militants in the tribal areas.</p>
    <p>The intensity of opposition to the American military is high. While only one in ten of FATA residents thinks suicide attacks are often or sometimes justified against the Pakistani military and police, almost six in ten believe these attacks are justified against the U.S. military. (The United Nations has determined that many of the suicide attackers in Afghanistan hail from the Pakistani tribal regions.)</p>
    <p>More than three-quarters of FATA residents oppose American drone strikes. Indeed, only 16 percent think these strikes accurately target militants; 48 percent think they largely kill civilians and another 33 percent feel they kill both civilians and militants. Directed by the Central Intelligence Agency, missiles are launched from unmanned drone aircraft in the FATA region of Pakistan.</p>
  </div>
</div>

<div class='section'>
  <div class='group clearfix'>
    {% assign section = page.sections[1] %}
    {% include frontgraph.html %}
  </div>
  <div class='prose'>
    <h1>FATA Residents Reject Al-Qaeda and the Taliban</h1>

    <p>Opposition to American policies in the region does not mean, however, that the people of FATA embrace either Al-Qaeda or the Taliban. More than three-quarters of FATA residents oppose the presence inside their region of Al-Qaeda and over two-thirds the Pakistan Taliban (60 percent oppose the Afghan Taliban led by Mullah Omar).</p>

    <p>Indeed, if Al-Qaeda or the Pakistani Taliban were on the ballot in an election, less than one percent of FATA residents said they would vote for either group.</p>
  </div>
</div>

<div class='section'>
  <div class='group clearfix'>
    {% assign section = page.sections[2] %}
    {% include frontgraph.html %}
  </div>
  <div class='prose'>
    <h1>FATA Residents Want Different American Policies in the Region</h1>

    <p>What is interesting about our findings, however, is that the intense opposition to the U.S. military and the drone program is not based on general anti-American feelings. Almost three-quarters of the people inside the tribal regions said that their opinion of the United States would improve if the U.S. increased visas for FATA residents and educational scholarships in the United States, withdrew the American military from Afghanistan or brokered a comprehensive peace between Israelis and Palestinians. A majority even said their opinions of the United States would improve a great deal. Two-thirds said that policies such as American aid for education and medical care would improve their opinions as well.</p>

    <p>This dramatic willingness to think better of the America demonstrates a notable lack of deep-seated hostility. For many FATA residents, opposition to the United States is based on current American military policy, not any intractably held anti-American beliefs.</p>
  </div>
</div>

<div class='section'>
  <div class='group clearfix'>
    {% assign section = page.sections[3] %}
    {% include frontgraph.html %}
  </div>
  <div class='prose'>
    <h1>FATA Residents Decisively Back the Pakistani Army</h1>

    <p>While the United States’ military, as well as Taliban and Al-Qaeda fighters, enjoy little popular support in the region, the people overwhelmingly support the Pakistani Army. Nearly 70 percent back the Pakistani military pursuing Al-Qaeda and Taliban fighters in the Tribal Areas. By a significant margin, the most popular individual among the people of FATA is General Ashfaq Parvez Kayani, the Pakistani Army Chief of Staff.</p>

    <p>And even though American drone attacks are strongly opposed, the public’s approval of the drones program actually almost splits even if those attacks were carried out by the Pakistani military instead. Indeed, when asked how FATA should be governed, 79 percent say it should be governed by the Pakistani military, followed by FATA becoming a separate province of Pakistan (70 percent). Becoming part of Afghanistan was the most unpopular choice.</p>
  </div>
</div>

<div class='section'>
  <div class='group clearfix'>
    {% assign section = page.sections[4] %}
    {% include frontgraph.html %}
  </div>
  <div class='prose'>
    <h1>Priorities of the People of FATA are Unemployment and Education</h1>

    <p>Unemployment is very high in FATA, with only 20 percent of respondents in our survey saying they were working full-time. Indeed, lack of jobs was chosen as the most important problem in the region by 95 percent of those surveyed. This was closely followed by lack of schools, good roads and security, poor health care and corruption of local official officials. Lesser problems to be addressed were, in descending order of importance: drone attacks, Taliban and foreign fighters and problems involving refugees.</p>

    <p>Despite the reputation that the people in FATA are socially conservative, nine out of every ten people identified lack of education and schools as their most important problem. Indeed, building new schools was chosen as a high priority for both boys and girls.</p>

    <p>In terms of administering justice in the tribal regions, the least popular option was having justice delivered by the Taliban, with only 12 percent believing this to be very important. By contrast, nearly two-thirds chose being governed by local tribal leaders.</p>
  </div>
</div>

<script type='text/javascript'>
var templates = [
  _('<strong><%=assumed_target%></strong><br /><%=deaths_min%> deaths &mdash <%=date%>').template(),
  _('<strong><%=adm2_name%></strong><br /><%=positive_pct%>% support &mdash; <%=positive%> respondents').template()
];
var map = {
  "minzoom":6,
  "maxzoom":9,
  "center":[72,33.5,7],
  "attribution": "Certain data &copy; OpenStreetMap contributors, CC-BY-SA",
  "formatter": function(o, d) {
    if (templates[d.__layer__]) return templates[d.__layer__](d);
  },
  "scheme":"tms"
};
var layers = function(layers) {
  var schema = 'http://{s}.tiles.mapbox.com/devseed/1.0.0/newamerica.pakistan-fata,{l}/{z}/{x}/{y}.{format}';
  return {
    tiles: _(['a', 'b', 'c', 'd']).map(function(s) {
      return schema.replace('{s}', s).replace('{l}', layers).replace('{format}', 'png128');
    }),
    grids: _(['a', 'b', 'c', 'd']).map(function(s) {
      return schema.replace('{s}', s).replace('{l}', layers).replace('{format}', 'grid.json');
    })
  };
};

var mm = com.modestmaps;
var m = new mm.Map('map', new wax.mm.connector(_(map).extend(layers('fata-q16,fata-drones'))), null, [
    new mm.MouseHandler(),
    new mm.TouchHandler()
]);
m.setCenterZoom(new mm.Location(
    map.center[1],
    map.center[0]),
    map.center[2]);
wax.mm.zoomer(m, map).appendTo(m.parent);
wax.mm.attribution(m, map).appendTo(m.parent);
var interaction = wax.mm.interaction(m, map);

$(function() {
  $('#biggermap').click(function() {
    $('#map').toggleClass('big');
    return false;
  });
  $('div.wax-legends a.legend-toggler').click(function() {
    _(map).extend(layers($(this).attr('href').split('#').pop()));
    m.setProvider(new wax.mm.connector(map));
    interaction.remove();
    interaction = wax.mm.interaction(m, map);

    $('div.wax-legends a.active').removeClass('active');
    $(this).addClass('active');
    return false;
  });
});
</script>
