<div id='main'>
    <div class='header'>
        <h2>{{pageTitle}}</h2>
    </div>
    <div class='content'>
        <div class='section'>
            <div class='prose'>{{{contentText}}}</div>
        </div>
    </div>
</div>