<div id='main'>
    <div class='breadcrumb clearfix'>
        <a href='/'>Home</a>
        <span class='last'>{{pageTitle}}</span>
    </div>
    <div class='header'>
        <h2>{{pageTitle}}</h2>
    </div>
    <div class='content'>
        <div class='section'>
            <div class='prose'>{{{contentText}}}</div>
        </div>
    </div>
</div>