body {
  font:normal 13px/20px Arial,sans-serif;
  background:#585848 url(../images/bg.jpg) 50% 100% no-repeat fixed;
  color:#d8d098;
  }

a {
  color:#b8d070;
  text-decoration:none;
  }

.limiter {
  width:960px;
  margin:0px auto;
  }

/**
 * Global header
 */
#global {
  background:url(../images/sprite.png) 0px 0px repeat-x;
  height:30px;
  }

#global .new-america {
  display:block;
  width:240px;
  height:30px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/sprite.png) 0px -30px no-repeat;
  }

/**
 * Branding (right column)
 */
#branding {
  float:right;
  width:150px;
  padding:20px 0px 20px 10px;
  }

.site-name a {
  display:block;
  width:150px;
  height:180px;
  background:url(../images/sprite.png) 0px -60px no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  }

/**
 * Left column
 */
#left {
  float:left;
  width:160px;
  }

.sidebar h2 {
  background:#4c4c40;
  color:#fff;
  padding:30px 20px 9px;
  margin:0px 0px 1px;
  }


.menu a {
  font-size:12px;
  text-transform:uppercase;
  white-space:nowrap;
  overflow:hidden;
  display:block;
  }

.sidebar .menu a {
  background:#4c4c40;
  padding:5px 10px 4px 20px;
  margin:0px 0px 1px;
  }

.sidebar .menu a:hover { background:#383830; }

.navigation h2,
.navigation .menu a {
  padding:5px 0px 4px;
  border-bottom:1px solid #4c4c40;
  }

.navigation h2 { color:#fff; }

/**
 * Main column
 */
#main {
  float:left;
  width:640px;
  }

.front #main { width:800px; }

/**
 * Main page sections
 */
.map {
  margin:15px;
  border:1px solid #686858;
  padding:4px;
  }

.header {
  margin:20px 0px;
  padding:0px 20px;
  }

.header h2 {
  font:normal 40px/40px Georgia,serif;
  margin:0px 0px 10px;
  color:#fff;
  }

.header h3 {
  font:normal 16px/20px Georgia,serif;
  margin:0px 0px 10px;
  }

.content {
  clear: both;
  position:relative;
  padding:10px;
  }

/**
 * Footer
 */
#footer { clear:both; }

/**
 * Map
 */
.waxmap {
  background:#383830;
  }

#question-map,
#agency-map {
  width:600px;
  height:280px;
  }

  div.map #block-openlayers_plus-blockswitcher.ne {
    right:4px;
    top:4px;
    bottom:4px;
    width:200px;
    height:280px;
    background:#383830;
    }
  .map .openlayers-blockswitcher {
    width:200px;
    z-index:900;
    }

#home-map {
  width:760px;
  height:280px;
  }

/**
 * /home ==============================================================
 */
div.agencies {
  float:left;
  width:280px;
  padding:0px 20px;
  }

div.questions {
  float:left;
  width:440px;
  padding:0px 20px;
  }

div.agencies .menu li,
div.questions .menu li {
  float:left;
  width:50%;
  }

div.section {
  position:relative;
  width:620px;
  padding:0px 10px;
  }

.section .group {
  width:300px;
  position:absolute;
  right:-300px;
  }

/**
 * /agency ============================================================
 */

#drone-info {
  float: right;
  width: 120px;
  color: #fff;
  font-family: sans-serif;
  text-align: right;
  }

  #drone-info h3 {
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 20px;
    background: none;
  }

  #drone-info ul {
    border-bottom: 1px solid #4c4c40;
  }

    #drone-info ul li {
      padding: 10px 0px;
      border-top: 1px solid #4c4c40;
      }

      #drone-info ul li .label {
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        }

      #drone-info ul li .value {
        font-weight: bold;
        font-size: 16px;
        }

.agency .header h2,
.agency .header .profile {
  float: left;
  width: 450px;
  }

/**
 * demographics filters ===============================================
 */
.demographics {
  position:absolute;
  right:-160px;
  width:160px;
  }

.filter {
  background:#4c4c40;
  padding:5px 0px 4px;
  margin-bottom:1px;
  }

.filter h2 {
  color:#fff;
  padding:0px 10px;
  }

.filter label {
  padding:0px 10px;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase;
  }

.filter .facets {
  background:#3e3e34;
  font-size:10px;
  margin:0px 5px;
  height:20px;
  overflow:hidden;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.filter .facets a {
  float:left;
  padding:0px 5px;
  }

/**
 * question & graph styles ============================================
 */
.group {
  background:#4c4c40;
  margin:0px 0px 10px;
  }

.group-shortname {
  padding:10px 10px 0px;
  font-size:16px;
  color:#fff;
  }

.group-text {
  padding:0px 10px 10px;
  font:italic 13px/20px Georgia,serif;
  }

div.question { /* use div. here to avoid conflict with body.question */
  border-top:1px solid #585848;
  padding:4px 10px 5px;
  }

.question-name {
  font-weight:normal;
  width:260px;
  float:left;
  }

.question .graph { float:right; }

.graph {
  margin:3px 0px;
  height:14px;
  width:280px;
  position:relative;
  }

.graph .bar {
  height:14px;
  position:absolute;
  top:0px;
  }

.graph .bar label {
  font-size:10px;
  line-height:15px;
  padding:5px 10px;
  background:#383830;
  display:none;
  width:140px;
  position:absolute;
  bottom:20px;
  left:50%;
  margin-left:-80px;
  }

  .graph .bar label strong {
    font-size:12px;
    color:#fff;
    display:block;
    }

.graph .bar:hover label { display:block; }

.refused { background:#999; }
.don-t-know { background-color:#666; }

.negotiate,
.never-justified,
.strongly-support,
.a-great-deal,
.very-favorable,
.very-important { background-color:#696; }

.rarely-justified,
.somewhat-support,
.some-what,
.somewhat-favorable,
.somewhat-important { background-color:#886; }

.sometimes-justified,
.somewhat-oppose,
.not-significantly,
.somewhat-unfavorable,
.somewhat-unimportant { background-color:#866; }

.not-negotiate-and-fight,
.often-justified,
.strongly-oppose,
.not-at-all,
.very-unfavorable,
.not-at-all-important { background-color:#864; }
