<div class='demographics-wrapper'><div class='demographics'>
  <div class='filter filter-title'>
    <h2>Filter by demographics</h2>
    <div class='facets facets-1 clearfix'>
      <a class='active' href='{{site.baseurl}}{{page.url}}#All'>All results</a>
    </div>
  </div>
  {% for demographic in page.demographics %}
  <div class='filter'>
    <label>{{demographic[0]}}</label>
    <div class='facets facets-{{demographic[1].size}} clearfix'>
      {% for item in demographic[1] %}
      <a href='{{site.baseurl}}{{page.url}}#{{item.key}}'>{{item.title}}</a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div></div>
