<div class='graph' id='{{question.key}}'>
  {% assign total = data[question.key].total %}
  {% if data[question.key] %}
  {% if group.answers %}
    {% for answer in group.answers %}
      {% capture class %}{{answer | downcase | remove:"'" | replace:' ','-'}}{% endcapture %}
      {% capture width %}{{data[question.key][answer] | times:280 | divided_by:total}}{% endcapture %}
      <a class='{{class}}' style='width:{{width}}px;'><em>
        <b>{{answer}}</b>
        <i>{{data[question.key][answer] | times:100 | divided_by:total}}% &mdash; {{data[question.key][answer]}} respondents</i>
      </em></a>
      {% if forloop.last %}<a class='fill {{class}}'></a>{% endif %}
    {% endfor %}
  {% else %}
    {% for i in data[question.key] %}{% if i[0] != 'total' %}
      {% assign answer = i[0] %}
      {% capture class %}{{answer | downcase | remove:"'" | replace:' ','-'}}{% endcapture %}
      {% capture width %}{{data[question.key][answer] | times:280 | divided_by:total}}{% endcapture %}
      <a class='{{class}} autogen autogen-{{forloop.index}}' style='width:{{width}}px;'><em>
        <b>{{answer}}</b>
        <i>{{data[question.key][answer] | times:100 | divided_by:total}}% &mdash; {{data[question.key][answer]}} respondents</i>
      </em></a>
      {% if forloop.last %}<a class='fill {{class}}'></a>{% endif %}
    {% endif %}{% endfor %}
  {% endif %}
  {% else %}
    <a class='empty'>No data available</a>
  {% endif %}
</div>
