/**
 * Markup free clearing
 * Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */

*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

/**
 * Prose ==============================================================
 *
 * By default, any text which is suspected to have gone through an
 * input filter is given the 'prose' class. We want to format it with
 * readability and nice defaults in mind.
 */
.prose { font:normal 16px/25px Georgia,serif; }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose ul,
.prose ol,
.prose pre,
.prose div.codeblock,
.prose blockquote { margin: 0px 0px 25px; }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-weight:normal;
  color:#fff;
  }

.prose h1 { font-size:20px; }
.prose h2 { font-size:16px; }

.prose pre,
.prose code,
.prose div.codeblock {
  font-size:11px;
  font-family: monospace;
  }

.prose pre,
.prose blockquote,
.prose div.codeblock {
  line-height:20px;
  background:#f8f8f8;
  padding:4px 9px;
  border:1px solid #eee;
  border-left:5px solid #eee;
  }

.prose ol li,
.prose ul li {
  display:list-item;
  margin:0px 0px 0px 30px;
  padding:0px;
  }

.prose ol li { list-style:decimal; }

.prose ul li { list-style:disc; }

.prose img { display:block; }

/* Excluding Drupal structures */
.prose .links,
.prose .links li,
.prose .item-list ul,
.prose .item-list li {
  margin:0px;
  padding:0px;
  list-style:none;
  }
