body {
  font:normal 13px/20px Arial,sans-serif;
  background:#585848 url(images/bg.jpg) 50% 100% no-repeat fixed;
  color:#d8d098;
  }

a {
  color:#b8d070;
  text-decoration:none;
  }

.limiter {
  width:960px;
  margin:0px auto;
  }

/**
 * Global header
 */
#global {
  background:url(images/sprite.png) 0px 0px repeat-x;
  height:30px;
  }

#global .new-america {
  display:block;
  width:240px;
  height:30px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(images/sprite.png) 0px -30px no-repeat;
  }

/**
 * Branding (right column)
 */
#branding {
  background:url(images/page.png) -960px -80px no-repeat;
  float:right;
  width:140px;
  padding:20px 0px 20px 20px;
  }

.site-name { margin:0px 0px 20px; }

.site-name a {
  display:block;
  width:140px;
  height:190px;
  background:url(images/sprite.png) 0px -60px no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  }

.slogan {
  color:#9c9c80;
  margin:0px 0px 20px;
  }

/**
 * Left column
 */
#left {
  float:left;
  width:160px;
  }

.sidebar h2 {
  background:#4c4c40 url(images/page.png) 0px -80px no-repeat;
  color:#fff;
  padding:30px 20px 9px;
  margin:0px 0px 1px;
  }

.sidebar .ender {
  height:120px;
  background:url(images/page.png) 0px -280px no-repeat;
  }

.menu a {
  font-size:12px;
  text-transform:uppercase;
  white-space:nowrap;
  overflow:hidden;
  display:block;
  }

.sidebar .menu a {
  background:#4c4c40 url(images/page.png) 0px -80px no-repeat;
  padding:5px 10px 4px 20px;
  margin:0px 0px 1px;
  }

.sidebar .menu a:hover { background:#383830; }

.sidebar .menu .active a {
  background:#8ba644 url(images/page.png) 0px -180px no-repeat;
  color:#333;
  text-shadow:#b9cd78 0px 1px 0px;
  }

.navigation h2,
.navigation .menu a {
  padding:5px 0px 4px;
  border-bottom:1px solid #4c4c40;
  }

.navigation h2 { color:#fff; }

/**
 * Main column
 */
#main {
  background:url(images/page.png) -320px -80px no-repeat;
  float:left;
  width:640px;
  }

.error #main,
.front #main {
  width:800px;
  background-position:-160px -80px;
  }

/**
 * Main page sections
 */
.breadcrumb {
  border-bottom:1px solid #585848;
  padding:5px 20px 4px;
  font-size:12px;
  text-transform:uppercase;
  }

.breadcrumb a,
.breadcrumb span {
  background:url(images/sprite.png) 100% -290px no-repeat;
  float:left;
  padding-right:20px;
  }

  .breadcrumb .last { background:transparent; }

.map {
  margin:15px;
  border:1px solid #686858;
  padding:4px;
  position:relative;
  }

.header {
  margin:20px 0px;
  padding:0px 20px;
  }

.header h2 {
  font:normal 40px/40px Georgia,serif;
  margin:0px 0px 10px;
  color:#fff;
  }

.header h3 {
  font:normal 16px/20px Georgia,serif;
  margin:0px 0px 10px;
  }

.content {
  clear: both;
  position:relative;
  padding:10px;
  }

.error-message {
  padding:100px 40px;
  line-height:50px;
  height:100px;
  color:#000;
  text-shadow:#787868 0px 1px 0px;
  letter-spacing:-1px;
  font-size:32px;
  text-align:center;
  }

.error-message h2 { font-size:48px; }

/**
 * Footer
 */
#footer {
  clear:both;
  padding:20px 20px 60px;
  font-size:12px;
  text-transform:uppercase;
  color:#000;
  text-shadow:#5c5c50 0px 1px 0px;
  }

#footer a {
  color:#989070;
  text-shadow:#181814 0px 1px 0px;
  }

/**
 * Map
 */
#map {
  background:#383830;
  width:598px;
  height:278px;
  transition:height .5s;
  -moz-transition:height .5s;
  -webkit-transition:height .5s;
  }

.front #map { width:758px; height:318px; }

#map.big,
.front #map.big { height:498px; }

#biggermap {
  position: absolute;
  z-index:5002;
  bottom:5px;
  right:5px;
  background:#383830 url(images/sprite.png) 0px -378px no-repeat;
  color:#fff;
  font-size:11px;
  padding:2px 6px 2px 20px;
  cursor:pointer;
  }

#biggermap .smaller,
.big #biggermap .bigger { display:none; }
.big #biggermap .smaller { display:block; }
.big #biggermap { background-position:0px -348px; }

.wax-attribution {
  color:#eee;
  font-size:10px; 
  left: 5px; 
  bottom: 2px; 
  position: absolute; 
  display: block;
  text-shadow:#383830 0px 1px 0px;
  vertical-align:bottom;
  }

.map .zoomer {
  left:5px;
  top:5px;
  position:absolute;
  background:#383830 url(images/sprite.png) 0px -380px;
  display:block;
  z-index:9;
  text-indent:-9999px;
  overflow:hidden;
  width:20px;
  height:20px;
  }

.map .zoomout { left:26px; background-position:0px -350px;   }

.wax-legends,
.wax-tooltip {
  left:5px;
  top:5px;
  position:absolute;
  background:#383830;
  font-size:11px;
  line-height:15px;
  width:200px;
  z-index:10;
  }

.wax-tooltip { padding:10px; }

.wax-legends {
  left:auto;
  right:5px;
  }

.legend-item,
.legend-toggler {
  padding:5px 10px 4px 30px;
  border-bottom:1px solid #303028;
  position:relative;
  display:block;
  }

.legend-toggler { color:#665; }
.legend-toggler .swatch { background:#202018; }
.legend-toggler.active { color:#fff; }
.legend-toggler.active .swatch { background:#7ab658; }

.wax-legends .swatch {
  display:block;
  width:13px;
  height:13px;
  position:absolute;
  left:10px;
  top:6px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.wax-tooltip strong { font-size:13px; color:#fff; }

/**
 * /home ==============================================================
 */
div.agencies {
  float:left;
  width:140px;
  padding:0px 20px;
  }

div.questions {
  float:left;
  width:600px;
  padding:0px 0px 0px 20px;
  }

div.questions .menu li {
  float:left;
  width:33.3%;
  }

div.section {
  position:relative;
  padding:0px 10px;
  }

  .front div.section { width:620px; }
  .header div.section { padding-left:0px; }

.section .pull-quote {
  font-style:italic;
  color:#fff;
  }

.section .partners,
.section .group {
  width:300px;
  position:absolute;
  right:-300px;
  }

/* Partners */
.section .partners h3,
.section .partners a {
  display:block;
  padding:0px 0px 0px 9px;
  border-left:1px solid #686858;
  margin:0px;
  }

.section .partners h3 {
  font:normal 12px/25px Arial,Helvetica,sans-serif;
  text-transform:uppercase;
  }

.section .partners a {
  color:#fff;
  font:normal 13px/25px Georgia,serif;
  }

.section .partners a:hover { background:#4c4c40; }


/**
 * /agency ============================================================
 */

#drone-info {
  float:right;
  width:120px;
  color:#fff;
  text-align:right;
  font-family:Arial,Helvetica,sans-serif;
  }

  #drone-info h3 { font:normal 12px/30px Arial,Helvetica,sans-serif; }
  #drone-info ul li .label { font:normal 12px/15px Arial,Helvetica,sans-serif; }

  #drone-info h3 { font-weight:bold; }

  #drone-info h3 .icon {
    height:30px;
    width:30px;
    float:left;
    background:url(images/sprite.png) -370px -60px no-repeat;
    }

  #drone-info ul li {
    padding:9px 0px 10px;
    border-top: 1px solid #4c4c40;
    }

    #drone-info ul li .label {
      display:block;
      }

    #drone-info ul li .value {
      font-weight:bold;
      font-size:16px;
      }

  #drone-info small {
    display:block;
    font-size:11px;
    line-height:15px;
    }

.agency .header h2,
.agency .header .profile {
  float: left;
  width: 450px;
  }

/**
* /question ============================================================
*/
body.question .group-shortname {
  padding-bottom:5px;
  }

.agency-breakdown .question {
  padding-left:25px;
  }

/**
 * demographics filters ===============================================
 */
.demographics {
  position:absolute;
  right:-160px;
  width:160px;
  }

body.question .demographics { top: 240px; }

body.fix-filters .demographics-wrapper {
  position:fixed;
  width:960px;
  left:50%;
  margin-left:-480px;
  top:0px;
  height:0px;
  }

body.fix-filters .demographics {
  position:absolute;
  right:0px;
  top:0px;
  }

.filter-title,
.filter {
  background:#4c4c40;
  padding:4px 0px 5px;
  margin-top:1px;
  }

.filter-title {
  padding:10px 0px;
  margin:0px;
  }

.filter-title h2 {
  color:#fff;
  padding:0px 10px 10px;
  }

.filter label {
  display:block;
  padding:0px 10px;
  font-size:12px;
  font-weight:normal;
  text-transform:uppercase;
  }

.filter .facets {
  background:#3e3e34 url(images/page.png) -4px 0px no-repeat;
  font-size:10px;
  margin:0px 4px;
  height:20px;
  overflow:hidden;
  box-shadow:#585848 0px 1px 0px;
  -moz-box-shadow:#585848 0px 1px 0px;
  -webkit-box-shadow:#585848 0px 1px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }


.filter .facets a {
  color:#888878;
  text-shadow:#24241c 0px 1px 0px;
  text-align:center;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  }

.filter .facets a.active {
  background:#b8d070 url(images/page.png) -160px 0px no-repeat;
  color:#222;
  text-shadow:#c8d890 0px 1px 0px;
  }

.filter .facets-2 { background-position:-4px -20px; }
.filter .facets-4 { background-position:-4px -40px; }
.filter .facets-1 a { width:152px; }
.filter .facets-2 a { width:76px; }
.filter .facets-4 a { width:38px; }

/**
 * question & graph styles ============================================
 */
.group {
  position:relative;
  background:#4c4c40;
  margin:0px 0px 10px;
  }

.group .more-link {
  position:absolute;
  right:10px;
  top:10px;
  }

.group .more-link a { background-color:#3c3c30; }

.group-shortname {
  padding:10px 10px 0px;
  font-size:16px;
  color:#fff;
  }

.group-text {
  padding:0px 10px 10px;
  font:italic 13px/20px Georgia,serif;
  }

div.question { /* use div. here to avoid conflict with body.question */
  padding:4px 10px 5px;
  border-top:1px solid #585848;
  }

.question-name,
.agency-name {
  font-weight:normal;
  width:260px;
  float:left;
  }

.question .graph { float:right; }

.graph {
  margin:3px 0px;
  height:14px;
  width:280px;
  position:relative;
  }

.graph a {
  height:14px;
  float:left;
  display:block;
  position:relative;
  z-index:1;
  transition: width .25s linear, opacity .25s linear, z-index .25s linear;
  -moz-transition: width .25s linear, opacity .25s linear, z-index .25s linear;
  -webkit-transition: width .25s linear, opacity .25s linear, z-index .25s linear;
  }

.graph a.fill {
  float:none; z-index:0;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  }

.graph a.empty {
  z-index:100;
  opacity:1;
  line-height:14px;
  font-size:10px;
  text-align:center;
  color:#887;
  background:#585848;
  }

.graph a.hidden {
  z-index:-1;
  opacity:0;
  }

.graph em,
.graph i { font-style:normal; }

.graph em {
  font-size:10px;
  line-height:15px;
  padding:5px 10px 15px;
  background:url(images/sprite.png) 100% 100% no-repeat;
  display:none;
  width:140px;
  position:absolute;
  bottom:10px;
  left:50%;
  margin-left:-80px;
  }

.graph b {
  font-size:12px;
  color:#fff;
  display:block;
  }

.graph a:hover em { display:block; }

.dont-know { background-color:#686858; }
.refused { background:#585848; }

.negotiate,
.never-justified,
.strongly-support,
.a-great-deal,
.very-favorable,
.very-important { background:#694 url(images/page.png) 100% 0px no-repeat; }

.rarely-justified,
.somewhat-support,
.some-what,
.somewhat-favorable,
.somewhat-important { background:#ab5 url(images/page.png) 100% -20px no-repeat; }

.sometimes-justified,
.somewhat-oppose,
.not-significantly,
.somewhat-unfavorable,
.somewhat-unimportant { background:#a96 url(images/page.png) 100% -40px no-repeat; }

.not-negotiate-and-fight,
.often-justified,
.strongly-oppose,
.not-at-all,
.very-unfavorable,
.not-at-all-important { background:#d73 url(images/page.png) 100% -60px no-repeat; }

.autogen { background:transparent url(images/page.png) -560px 0px no-repeat; }
.autogen-1 { background-color:#ccc; }
.autogen-2 { background-color:#aaa; }
.autogen-3 { background-color:#888; }
.autogen-4 { background-color:#666; }
.autogen-5 { background-color:#456; }
.autogen-6 { background-color:#678; }
.autogen-7 { background-color:#89a; }
.autogen-8 { background-color:#abc; }
.autogen-9 { background-color:#caa; }
.autogen-10 { background-color:#a88; }
.autogen-11 { background-color:#866; }
.autogen-12 { background-color:#644; }
.autogen-13 { background-color:#7a5151; }
.autogen-14 { background-color:#5C3E3E; }
.autogen-15 { background-color:#B3B3B3; }
.autogen-16 { background-color:#595959; }

/**
 * More link ==========================================================
 */
.prose a { border-bottom:1px solid #686858; }
.prose a:hover { color:#fff; }
.prose .more-link { margin-bottom:25px; }

.more-link { height:20px; }

.more-link a {
  border:0px;
  padding:0px 10px 0px 20px;
  float:right;
  color:#fff;
  background:#4c4c40 url(images/sprite.png) 0px -380px no-repeat;
  font:normal 12px/20px Arial,Helvetica,sans-serif;
  text-transform:uppercase;
  }

/**
 * Tables
 */
table {
  width:100%;
  margin:0px 0px 25px;
}

table th {
  text-align:left;
}
