---
layout: default
demographics:
  Gender:
    - title: Male
      key: g0
    - title: Female
      key: g1
  Age:
    - title: 18-25
      key: a0
    - title: 26-39
      key: a1
    - title: 40-54
      key: a2
    - title: 55+
      key: a3
  Years of Education:
    - title: 0
      key: e0
    - title: 1-7
      key: e1
    - title: 8-11
      key: e2
    - title: 12+
      key: e3
  Marital Status:
    - title: Married
      key: m0
    - title: Unmarried
      key: m1
  Income Level:
    - title: High
      key: i0
    - title: Low
      key: i1
---
<div id='left' class='sidebar'>
  <h2>Administrative Agencies</h2>
  <ul class='menu'>
    {% for item in site.categories.agency reversed %}
    <li {% if item.url == page.url %}class='active' {% endif %}>
      <a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class='ender'></div>
</div>

<div id='main'>
  <div class='breadcrumb clearfix'>
    <a href='{{site.baseurl}}/index.html'>Home</a>
    <span>Administrative Agencies</span>
    <span class='last'>{{page.title}}</span>
  </div>
  <div id='map' class='map'>
    <div class='wax-legends'>
      <div class='legend-item'>
        <span class='swatch' style='background-color:#e63;'></span>
        Drone strikes under Bush
      </div>
      <div class='legend-item'>
        <span class='swatch' style='background-color:#ef3;'></span>
        Drone strikes under Obama
      </div>
    </div>
    <a href='#bigger' id='biggermap'><span class='bigger'>Larger Map</span><span class='smaller'>Smaller Map</span></a>
  </div>
  <div class='header'>
    <h2>{{page.title}}</h2>

    {% assign data = site.categories.data[0][page.key] %}
    <div id='drone-info'>
      <h3><span class='icon'></span>Drone strikes*</h3>
      <ul>
      <li><span class='label'>Total incidents</span> <span class='value'>
        {% if data.drone.total %}
          {{data.drone.total}}
        {% else %}
          0
        {% endif %}
        strikes
      </span></li>
      <li><span class='label'>Non-militants killed</span> <span class='value'>
        {% if data.drone.civilian_deaths_max %}
          {{data.drone.civilian_deaths_min}}
        {% else %}
          0
        {% endif %}
        {% if data.drone.civilian_deaths_max %}
          to {{data.drone.civilian_deaths_max}}
        {% endif %}
      </span></li>
      <li><span class='label'>Militant deaths</span> <span class='value'>
        {% if data.drone.militant_deaths_min %}
          {{data.drone.militant_deaths_min}}
        {% else %}
          0
        {% endif %}
        {% if data.drone.militant_deaths_max %}
          to {{data.drone.militant_deaths_max}}
        {% endif %}
      </span></li>
      <li><span class='label'>Militant Leaders killed</span> <span class='value'>
        {% if data.drone.leader_deaths %}
          {{ data.drone.leader_deaths }}
        {% else %}
          0
        {% endif %}
      </span></li>
      <li><small>* Includes data through July 2010</small></li>
      </ul>
    </div>

    <div class='profile prose'>{{content}}</div>
  </div>
  <div class='content' id='content'>
    {% include filter.html %}
    <div id='ajax-content'>
    {% for group in site.categories.questions reversed %}
    <div class='group clearfix'>
      <div class='more-link'><a href='{{site.baseurl}}{{group.url}}'>Details</a></div>
      <h2 class='group-shortname'>{{group.title}}</h2>
      <p class='group-text'>{{group.content}}</p>
      {% assign data = site.categories.data[0][page.key] %}
      {% for question in group.questions %}
      <div class='question clearfix'>
        <h2 class='question-name'>{{question.title}}</h2>
        {% include graph.html %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    </div>
  </div>
</div>

<script type='text/javascript'>
var templates = [
  _('<strong><%=assumed_target%></strong><br /><%=deaths_min%> deaths &mdash <%=date%>').template()
];
var map = {
  "minzoom":6,
  "maxzoom":9,
  "center":[{{page.lon}},{{page.lat}},9],
  "attribution": "Certain data &copy; OpenStreetMap contributors, CC-BY-SA",
  "formatter": function(o, d) {
    if (templates[d.__layer__]) return templates[d.__layer__](d);
  },
  "scheme":"tms"
};
var layers = function(layers) {
  var schema = 'http://{s}.tiles.mapbox.com/devseed/1.0.0/newamerica.pakistan-fata,{l}/{z}/{x}/{y}.{format}';
  return {
    tiles: _(['a', 'b', 'c', 'd']).map(function(s) {
      return schema.replace('{s}', s).replace('{l}', layers).replace('{format}', 'png128');
    }),
    grids: _(['a', 'b', 'c', 'd']).map(function(s) {
      return schema.replace('{s}', s).replace('{l}', layers).replace('{format}', 'grid.json');
    })
  };
};

var mm = com.modestmaps;
var m = new mm.Map('map', new wax.mm.connector(_(map).extend(layers('fata-drones'))), null, [
    new mm.MouseHandler(),
    new mm.TouchHandler()
]);
m.setCenterZoom(new mm.Location(
    map.center[1],
    map.center[0]),
    map.center[2]);
wax.mm.zoomer(m, map).appendTo(m.parent);
wax.mm.attribution(m, map).appendTo(m.parent);
var interaction = wax.mm.interaction(m, map);

$(function() {
  $('#biggermap').click(function() {
    $('#map').toggleClass('big');
    return false;
  });
});
</script>
