---
layout: default
demographics:
  Gender:
    - Male
    - Female
  Age:
    - 18-25
    - 26-39
    - 40-54
    - 55+
  Years of Education:
    - 0
    - 1-7
    - 8-11
    - 12+
  Marital Status:
    - Married
    - Unmarried
  Income Level:
    - High
    - Low
---
<div id='left' class='sidebar'>
  <h2>Administrative Agencies</h2>
  <ul class='menu'>
    {% for item in site.categories.agency reversed %}
    <li {% if item.url == page.url %}class='active' {% endif %}>
      <a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class='ender'></div>
</div>

<div id='main'>
  <div class='breadcrumb clearfix'>
    <a href='{{site.baseurl}}/index.html'>Home</a>
    <span>Administrative Agencies</span>
    <span class='last'>{{page.title}}</span>
  </div>
  <div class='map'>
    <div id='agency-map' class='waxmap' src='/map/agency/{{agencyid}}'></div>
  </div>
  <div class='header'>
    <h2>{{page.title}}</h2>

    {% assign data = site.categories.data[0][page.key] %}
    <div id='drone-info'>
      <h3><span class='icon'></span>Drone strikes*</h3>
      <ul>
      <li><span class='label'>Total incidents</span> <span class='value'>
        {% if data.drone.total %}
          {{data.drone.total}}
        {% else %}
          0
        {% endif %}
        strikes
      </span></li>
      <li><span class='label'>Non-militants killed</span> <span class='value'>
        {% if data.drone.civilian_deaths_max %}
          {{data.drone.civilian_deaths_min}}
        {% else %}
          0
        {% endif %}
        {% if data.drone.civilian_deaths_max %}
          to {{data.drone.civilian_deaths_max}}
        {% endif %}
      </span></li>
      <li><span class='label'>Militant deaths</span> <span class='value'>
        {% if data.drone.militant_deaths_min %}
          {{data.drone.militant_deaths_min}}
        {% else %}
          0
        {% endif %}
        {% if data.drone.militant_deaths_max %}
          to {{data.drone.militant_deaths_max}}
        {% endif %}
      </span></li>
      <li><span class='label'>Militant Leaders killed</span> <span class='value'>
        {% if data.drone.leader_deaths %}
          {{ data.drone.leader_deaths }}
        {% else %}
          0
        {% endif %}
      </span></li>
      <li><small>* Includes data through July 2010</small></li>
      </ul>
    </div>

    <div class='profile prose'>{{content}}</div>
  </div>
  <div class='content' id='content'>
    {% include filter.html %}
    <div id='ajax-content'>
    {% for group in site.categories.questions reversed %}
    <div class='group clearfix'>
      <div class='more-link'><a href='{{site.baseurl}}{{group.url}}'>Details</a></div>
      <h2 class='group-shortname'>{{group.title}}</h2>
      <p class='group-text'>{{group.content}}</p>
      {% assign data = site.categories.data[0][page.key].All %}
      {% for question in group.questions %}
      <div class='question clearfix'>
        <h2 class='question-name'>{{question.title}}</h2>
        {% include graph.html %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    </div>
  </div>
</div>

<script type='text/javascript'>
var data = {};
{% assign key = 'All' %}
{% assign data = site.categories.data[0][page.key][key] %}
{% include scope.json %}

{% for demographic in page.demographics %}{% for facet in demographic[1] %}
{% capture key %}{{demographic[0]}}/{{facet}}{% endcapture %}
{% assign data = site.categories.data[0][page.key][key] %}
{% include scope.json %}
{% endfor %}{% endfor %}
</script>
