---
layout: default
classes: front
---
<div id='main'>
  <div id='map' class='map'>
    <div class='wax-legends'>
      <strong class='legend-item'>Map Overlays</strong>
      <div class='legend-item'>
        <span class='swatch' style='background-color:#e63;'></span>
        Drone strikes under Bush
      </div>
      <div class='legend-item'>
        <span class='swatch' style='background-color:#ef3;'></span>
        Drone strikes under Obama
      </div>
      <a class='legend-toggler active' href='#fata-q16,fata-drones'>
        <span class='swatch'></span>
        Support for U.S. drone strikes
      </a>
      <a class='legend-toggler' href='#fata-q11b,fata-drones'>
        <span class='swatch'></span>
        Support for Pakistani Taliban fighters
      </a>
      <a class='legend-toggler' href='#fata-q11d,fata-drones'>
        <span class='swatch'></span>
        Support for Arab and foreign Al Qaeda fighters
      </a>
    </div>
    <a href='#bigger' id='biggermap'><span class='bigger'>Larger Map</span><span class='smaller'>Smaller Map</span></a>
  </div>
  <div class='navigation clearfix'>
    <div class='agencies'>
      <h2>Administrative<br/>Agencies</h2>
      <ul class='menu'>
      {% for item in site.categories.agency reversed %}
        <li><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class='questions'>
      <h2>Sentiment<br/>Survey Questions</h2>
      <ul class='menu questions'>
      {% for item in site.categories.questions reversed %}
        <li><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class='header'>
    <div class='section'>
        <div class='partners clearfix'>
            <h3>In Partnership With</h3>
            <ul>
              {% for item in page.partners %}
              <li><a href='{{item.url}}'>{{item.title}}</a></li>
              {% endfor %}
            </ul>
        </div>
        <div class='prose'>{{page.intro|markdownify}}</div>
    </div>
  </div>
  <div class='content'>{{content}}</div>
</div>
