---
layout: default
classes: question
demographics:
  Gender:
    - title: Male
      key: g0
    - title: Female
      key: g1
  Age:
    - title: 18-25
      key: a0
    - title: 26-39
      key: a1
    - title: 40-54
      key: a2
    - title: 55+
      key: a3
  Years of Education:
    - title: 0
      key: e0
    - title: 1-7
      key: e1
    - title: 8-11
      key: e2
    - title: 12+
      key: e3
  Marital Status:
    - title: Married
      key: m0
    - title: Unmarried
      key: m1
  Income Level:
    - title: High
      key: i0
    - title: Low
      key: i1
---
<div id='left' class='sidebar'>
  <h2>Sentiment Survey Questions</h2>
  <ul class='menu'>
  {% for group in site.categories.questions reversed %}
    <li {% if group.url == page.url %}class='active'{% endif %}><a href='{{site.baseurl}}{{group.url}}'>{{group.title}}</a></li>
  {% endfor %}
  </ul>
  <div class='ender'></div>
</div>

<div id='main'>
  <div class='breadcrumb clearfix'>
    <a href='{{site.baseurl}}/index.html'>Home</a><span>Sentiment Survey Questions</span>
    <span class='last'>{{page.title}}</span>
  </div>
  <div class='header'>
    <h2>{{page.title}}</h2>
    <h3>{{page.content}}</h3>
  </div>
  <div class='content' id='content'>
    {% include filter.html %}
    <div id='ajax-content'>
    <div class='group clearfix'>
      <h2 class='group-shortname'>FATA Totals</h2>
      {% assign data = site.categories.data[0]['fata'] %}
      {% assign group = page %}
      {% for question in page.questions %}
      <div class='question clearfix'>
        <h2 class='question-name'>{{question.title}}</h2>
        {% include graph.html %}
      </div>
      {% endfor %}
    </div>
    <div class='agency-breakdown'>
      {% for question in page.questions %}
      <div class='group clearfix'>
        <h2 class='group-shortname'>{{ question.title }}</h2>
        {% for agency in site.categories.agency reversed %}
        <div class='question clearfix'>
          <h2 class='agency-name'><a href="{{site.baseurl}}{{agency.url}}">{{agency.title}}</a></h2>
          {% assign data = site.categories.data[0][agency.key] %}
          {% assign group = page %}
          {% include graph.html %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
